
.box2
{
    border: 2px;
    background-color: cadetblue;
    padding: 5px;
    width: 500px;
    height: 300px;
    /* overflow: hidden; */
    overflow: scroll;
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.box3
{
    border: 1px solid black;
    background-image:url('img/2.png');
    padding: 5px;
    width: 500px;
    height: 300px;
    /* overflow: hidden; */
    overflow: scroll;
    position: absolute;
    left: 520px;
}
.btnclick
{
    background-color: rgb(182, 174, 174);
    color: black;
    padding: 10px;
    border-radius: 20px;
}

.btnclick:hover
{
    background-color: rgb(214, 9, 9);
    color: rgb(10, 10, 10);
}