.flex-container
{
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse*/
    flex-wrap: wrap;
      /*flex-wrap: nowrap;*/
      /*flex-wrap: wrap-reverse;*/
      /*flex-flow: row wrap;*/
     /* justify-content: center;*/
    justify-content: space-between;
      /*justify-content: flex-start;*/
      /*justify-content: flex-end;*/
      /*justify-content: space-around;*/
    /*align-items: center;*/
    /*align-items: stretch;*/
    /*align-items: baseline;*/
    /*align-items: flex-start;*/
    align-items: flex-end;
    border: 1px;
    background-color: cadetblue;
    color: red;
    height: 80px;
    
}

