/* 1-mar */
*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 80px;
    border:1px solid black;
}

.divleft
{
    float: left;
    line-height: 80px;
    padding-left: 50px;
    font-size: 30px;
    
    /* padding-left: 30px; */
}
.divright
{
    float: right;
    line-height: 80px;
    padding-right: 30px;
}



/* preivous */
.myfont
{
    font-size: 30px;
    background-color: red;
    color: aqua;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: overline;
    text-align: center;
}
.box1
{
    border: 1px solid black;
    background-color: aquamarine;
    padding: 5px;
    width: 500px;
    height: 300px;
    /* overflow: hidden; */
    overflow:scroll;
    position: absolute
}
.box11
{
    border: 1px solid black;
    /* background-color: rgb(68, 135, 229); */
    background-image: url('img/1.jpg');
   
    padding: 5px;
    width: 800px;
    height: 300px;
    /* overflow: hidden; */
    overflow:scroll;
    position: absolute;
    left: 501px;
}

.btnClick
{
    background-color: aqua;
    color:red;
    padding: 10px;
    border-radius: 20px;
}

.btnClick:hover
{
    background-color: red;
    color: aqua;
}