.box10
{
    border:1px;
    background-color: darkgoldenrod;
    color: rgb(8, 6, 6);
    width: 1800px;
    height: 60px;
}
.box11  
{
    border:1px;
    background-color: rgb(22, 6, 94);
    color: rgb(8, 6, 6);
    width: 1800px;
    height: 100px;
    position: absolute;
    nav-down: 61px;
    
}